/*
Custom stylesheet for the abacus.
Team 1 UVUBacus Project
Spring 2020
*/
html {
	font-family: sans-serif;
}
.header {
	margin: 10px;
	text-align: center;
}
.tab-bar {
	text-align: center;
}

.tab-content {
	margin: 20px;
}

.challenges-pane {
	margin: 10px;
}

#header {
	margin: 15px;
}

#abacus-content {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

#abacus-content.correct {
	box-shadow: 0px 0px 50px rgba(0,255,0,.8);
}

#abacus-output>p {
	font-size: 72pt;
	text-align: center;
}
#abacus-output-mirror {
	text-align: center;
	display: inline;
	max-width: 80%;
	margin-left: 1em;
	margin-right: 1em;
	font-weight: bold;
}

.btn-success,.btn-success:hover,.btn-success:focus {
	background-color: #275D38;
	box-shadow: none;
}

#challenges {
	width: 30%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	transition: all .3s;
	border-right: 1px solid black;
	background: white !important;
	display: block;
}

#challenges.active {
	margin-left: -30%;
	visibility: hidden;
}

#challenge-nav {
	margin: auto;
}

.challenges-pane > h2 {
	text-align: center;
	margin: 15px;
}

.challenges-pane > h3 {
	text-align: center;
	text-decoration: underline;
	margin: 15px;
}

#challenge-text {
	text-align: center;
	font-size: 2em;
}

#content {
	width: calc(100% - 30%);
	padding: 15px;
	min-height: 100vh;
	transition: all .5s;
	position: absolute;
	top: 0;
	right: 0;
}

#content.active {
	width: 100%;
}

nav {
	background-color: rgba(0,0,0,0) !important;
}

.navbar-text {
	display: block;
	text-align:center;
	font-size: 3em;
}

.wrapper {
	z-index: 1
}

canvas#confetti-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}
